<section class="portfolio" id="portfolio">
  <h2 data-aos="fade-up">Our Portfolio</h2>
  <div class="portfolio-gallery">
    <img  
    *ngFor="let project of projects"
    [src]="project.image"
    [alt]="project.title"
    data-aos="flip-left"
    data-bs-toggle="modal"
    data-bs-target="#projectModal"
    (click)="selectProject(project)"/>
  </div>



  <div 
  class="modal fade"
  id="projectModal"
  tabindex="-1"
  aria-labelledby="projectModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="project1Label">{{ selectedProject?.title }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src="../../../assets/interior01.jpg" [src]="selectedProject?.image" class="img-fluid mb-3" />
          <p>{{ selectedProject?.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>


