<section class="portfolio" id="portfolio">
  <h2 data-aos="fade-up">Our Portfolio</h2>
  <div class="portfolio-gallery">
    <img src="../../../assets/interior01.jpg" alt="House 1" data-aos="flip-left" />
    <img src="../../../assets/interior02.jpg" alt="House 2" data-aos="flip-left" />
    <img src="../../../assets/interior03.jpg" alt="House 3" data-aos="flip-left" />
    <img src="../../../assets/interior04.jpg" alt="House 4" data-aos="flip-left" />
    <img src="../../../assets/interior05.jpg" alt="House 5" data-aos="flip-left" />
    <img src="../../../assets/interior06.jpg" alt="House 6" data-aos="flip-left" />
    <img src="../../../assets/interior07.jpeg" alt="House 7" data-aos="flip-left" />
    <img src="../../../assets/interior08.jpg" alt="House 8" data-aos="flip-left" />
  </div>
</section>
