  <header class="navbar">
    <div class="logo">SJarchitects </div>
    <i class="fas fa-bars menu-toggle" onclick="toggleMenu()"></i>
    <nav class="nav-links sidebar" id="navLinks">
      <a href="#home">Home</a>
      <a href="#about">About</a>
      <a href="#portfolio">Portfolio</a>
      <a href="#services">Services</a>
      <a href="#projects">Projects</a>
      <a href="#contact">Contact</a>
    </nav>
  </header>

<!-- 

<header class="navbar">
  <div class="logo">SJarchitects</div>
  <i class="fas fa-bars menu-toggle" (click)="toggleMenu()"></i>

  <nav [class.active]="menuVisible" class="nav-links">
    <a href="#home" (click)="closeMenu()">Home</a>
    <a href="#about" (click)="closeMenu()">About</a>
    <a href="#portfolio" (click)="closeMenu()">Portfolio</a>
    <a href="#services" (click)="closeMenu()">Services</a>
    <a href="#projects" (click)="closeMenu()">Projects</a>
    <a href="#contact" (click)="closeMenu()">Contact</a>
  </nav>
</header> -->
