/* Hero Section Styles */
.hero {
  background: url('/assets/hero.jpg') center/cover no-repeat;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--white);
  position: relative;
}

.hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

.hero-content {
  position: relative;
  z-index: 1;
  max-width: 800px;
  padding: 0 1rem;
}

.hero h1 {
  font-size: 3rem;
  color: var(--gold);
  font-family: 'Playfair Display', serif;
}

.hero p {
  margin-top: 1rem;
  font-size: 1.2rem;
}

// .quote-btn {
//   margin-top: 2rem;
//   padding: 0.75rem 1.5rem;
//   background-color: var(--gold);
//   color: var(--white);
//   border: none;
//   font-weight: bold;
//   cursor: pointer;
//   transition: background 0.3s;
// }

// .quote-btn:hover {
//   background-color: #b8974d;
// }


// Button style

@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #CFAE62;;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

.button-container {
 display: flex;
 justify-content: center;
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #CFAE62;;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #CFAE62;;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}