<section id="partners" class="py-5">
  <div class="container">
    <h2 class="text-center mb-4" data-aos="fade-up" style="color: #d4af37;">Trusted By</h2>
    <p class="text-center mb-5" data-aos="fade-up">We proudly collaborate with premium brands and trusted industry leaders.</p>
    <div class="row justify-content-center align-items-center text-center">
      <div class="col-6 col-md-2 mb-4" data-aos="zoom-in">
        <img src="assets/brands/brand1.png" alt="Brand 1" class="img-fluid grayscale-hover" />
      </div>
      <div class="col-6 col-md-2 mb-4" data-aos="zoom-in">
        <img src="assets/brands/brand2.png" alt="Brand 2" class="img-fluid grayscale-hover" />
      </div>
      <div class="col-6 col-md-2 mb-4" data-aos="zoom-in">
        <img src="assets/brands/brand3.png" alt="Brand 3" class="img-fluid grayscale-hover" />
      </div>
      <div class="col-6 col-md-2 mb-4" data-aos="zoom-in">
        <img src="assets/brands/brand4.png" alt="Brand 4" class="img-fluid grayscale-hover" />
      </div>
      <div class="col-6 col-md-2 mb-4" data-aos="zoom-in">
        <img src="assets/brands/brand5.png" alt="Brand 5" class="img-fluid grayscale-hover" />
      </div>
    </div>
  </div>
</section>