<section class="services" id="services">
    <h2 data-aos="fade-up">Our Services</h2>
    <div class="service-cards">
        <!-- <div class="container">
            <div class="row"> -->
                <!-- <div class="col-lg-4 col-md-4 col-sm-12"> -->
                    <div class="service" data-aos="fade-right">
                        <i class="fas fa-building"></i>
                        <h3>Architecture Design</h3>
                        <p>Commercial and residential solutions tailored to your taste.</p>
                    <!-- </div> -->
                </div>
                <!-- <div class="col-lg-4 col-md-4 col-sm-12"> -->
                    <div class="service" data-aos="fade-up">
                        <i class="fas fa-couch"></i>
                        <h3>Interior Design</h3>
                        <p>Curated interior experiences that elevate your space.</p>
                    <!-- </div> -->
                </div>
                <!-- <div class="col-lg-4 col-md-4 col-sm-12"> -->
                    <div class="service" data-aos="fade-left">
                        <i class="fas fa-tools"></i>
                        <h3>Construction Team</h3>
                        <p>Execution by skilled teams with attention to detail and quality.</p>
                    </div>
                <!-- </div> -->
            <!-- </div>
        </div> -->
    </div>
</section>