#testimonials .card {
  transition: transform 0.3s ease;
}
#testimonials .card:hover {
  transform: translateY(-5px);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: transparent;
  background-size: 100% 100%;
  width: 2rem;
  height: 2rem;
}

.carousel-control-prev-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg fill="%23d4af37" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 0-.708 0L4.793 7.5l5.853 5.854a.5.5 0 0 0 .708-.708L6.207 7.5l5.147-5.146a.5.5 0 0 0 0-.708z"/%3E%3C/svg%3E');
}

.carousel-control-next-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg fill="%23d4af37" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0L11.207 7.5l-5.853 5.854a.5.5 0 0 1-.708-.708L9.793 7.5 4.646 2.354a.5.5 0 0 1 0-.708z"/%3E%3C/svg%3E');
}

// .card-body {
//     // background-color: #393E46;
//     color: #CFAE62;
// }
